.form-control {
  color: white;
}
.contact-form .btn {
  background-color: #767676;
  color: white;
  width: 100%;
  border: none;
}
.input-group-text {
  background-color: #c7c7c7;
  color: white;
}
.list-group-item {
  border: none;
  background-color: var(--background-colour);
  margin-bottom: 2em;
}
.list-group-item i {
  margin-right: 1.5em;
  color: #767676;
  font-size: 30px;
}
.form-check-input {
  background-color: var(--primary-colour);
  border: none;
}
