h1 {
  font-family: "Playfair";
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--primary-colour);
}

.carousel-inner {
  max-height: 600px;
}
#profile-tab,
#contact-tab,
#home-tab {
  color: var(--primary-colour);
  border-radius: 0px 10px 0px 0px;
  margin-top: 4em;
}

.img-fluid {
  width: 100%;
  padding: 2rem;
}

#home .card {
  border-radius: 0 10px 10px 10px;
}

.card-text {
  margin: 15px 0;
}
.card-icon {
  font-size: 12px;
  cursor: pointer;
}
.card-icon i {
  font-size: 20px;
  padding: 5px;
}
