html,
body {
  height: 100%;
}

body {
  font-family: "Lato";
  background: var(--background-colour);
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: white;
  margin-top: 2rem;
  font-size: 16px;
  color: #767676;
  padding: 0.5em;
}
footer i {
  color: #767676;
  font-size: 30px !important;
}
.wrapper {
  flex: 1 0 auto;
}

footer .icons {
  margin-left: 3em;
}
footer .copyright {
  margin-right: 3em;
}
@media only screen and (max-width: 768px) {
  footer,
  footer i {
    font-size: 15px !important;
  }
  footer .icons {
    margin-left: 5px;
  }
  footer .copyright {
    margin-right: 5px;
  }
}
