.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: var(--primary-colour) !important;
}
.navbar {
  background-color: var(--nav-colour) !important;
  color: black;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 15px;
}
.navbar-light .navbar-nav .active > .nav-link {
  background-color: white;
  color: black;
  font-family: "Lato", sans-serif;
}
.navbar-collapse {
  z-index: 1;
}
.form-control {
  background-color: white;
  border: none;
  font-size: 13px;
}

.btn-outline-success {
  color: white;
  background-color: var(--primary-colour);
  border: none;
}
